body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.nav-pills li a {
  font-size: 20px;
}

.brand{
  background:url(../img/logo.png) no-repeat top left;
  display:block;
  text-indent:-040685px;
  width:200px;
  height:50px;
}

@-webkit-keyframes recolor {
  0% {
    color:rgb(0,200,0);
  }
  50% {
    color:rgb(255,128,0);
  }
  100% {
    color:rgb(200,0,0);
  }
}

#points {
  margin: 0 auto;
  position: relative;
  width: 17%;
  font-size: 16px;
  font-weight:bold;
  -webkit-animation-name: recolor;
  -webkit-animation-duration: 35s;
  -webkit-animation-timing-function: ease-in-out;
}

.score_results {
  margin: 0 auto;
  position: relative;
  width: 17%;
  font-size: 16px;
  font-weight:bold;  
}

#informations {
  margin: 50px 0 0 0;
}


